---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Schedule">
	
		<section class="bg-white">
			<img src="" alt="hero" class="w-full"/>

		</section>
	
	<main>
		
	</main>
</Layout>

