---
import Layout from '../layouts/Layout.astro';
---

<Layout title="very Welcome to Astro.">
	<main>
		
			
		<h1 class=" text-xl font-semibold text-green-500" =>Build With Mansi</h1>

	</main>
</Layout>

